<form class="mt-4" name="container-form" method="POST" action="/phones/handle-form-action" >
  <div>
    <h3>My products</h3>
    <a href="/me/trash/products">Recycle Bin ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Select all
        </label>
      </div>
      <select class="form-select form-select-sm checkbox-select-all-option" name="action" required>
        <option selected>Select action</option>
        <option value="delete">Delete</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn disabled">
        Action
      </button>
    </div>
  </div>
  <table class="table">
      <thead>
          <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Name Product</th>
              <th scope="col">Video ID</th>
              <th scope="col" colspan="2">Created At</th>
          </tr>
      </thead>
      <tbody>
          {{#each phones}}
          <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                </div>
              </td>
              <th scope="row">{{sum  @index 1}}</th>
              <td>{{this.title}}</td>
              <td>{{this.videoId}}</td>
              <td>{{this.createdAt}}</td>
              <td>
                  <a href="/phones/{{this._id}}/edit" class="btn btn-link">Edit</a>
                  <a href="" class="btn btn-link" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-id="{{this._id}}">Delete</a>
              </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="5" class="text-center">
              You didn't add any product yet. 
              <a href="/phones/create">Add product</a>
            </td>
          </tr>

          {{/each}}
      </tbody>
  </table>
</form>

{{!-- Confirm delete --}}
<div class="modal" id="deleteProductModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this product ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Confirm</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-product-form"></form>

<script>
    var productId;
    var deleteForm = document.forms['delete-product-form'];
    var checkBoxAll = $('#checkbox-all');
    var productItemCheckBox = $('input[name="productIds[]"]');
    var checkAllSubmitBtn = $('.check-all-submit-btn');
    var containerForm = document.forms['container-form'];

    var deleteProductModal = document.getElementById('deleteProductModal')
    var btnDeleteProduct = document.getElementById("btn-delete-product");

    // Adding id when click delete button
    deleteProductModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        productId = button.getAttribute('data-id')
    })

    // when confirm btn clicked
    btnDeleteProduct.onclick = function() {
        deleteForm.action = '/phones/' + productId + '?_method=DELETE';
        deleteForm.submit();
    }
  
    //Check box all clicked
    checkBoxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      productItemCheckBox.prop('checked', isCheckedAll);
      renderCheckAllSubmitButton();
    })

    // Product checkbox change
    productItemCheckBox.change(function() {
      var isCheckedAll = productItemCheckBox.length === $('input[name="productIds[]"]:checked').length;
      checkBoxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitButton();
    })

    // Check all button submit
    checkAllSubmitBtn.click(function(e) {
      e.preventDefault();

      var isSubmittable = !$(this).hasClass('disabled');

      if(isSubmittable){
        containerForm.submit();
      }
    })

    checkAllSubmitBtn.on('submit', function(e) {
      var isSubmittable = !$(this).hasClass('disabled');

      if(!isSubmittable){
        e.preventDefault();
      }
    })

    // Render disable button
    function renderCheckAllSubmitButton() {
      var checkedCount = $('input[name="productIds[]"]:checked').length;

      if(checkedCount > 0) {
        checkAllSubmitBtn.removeClass('disabled')
      } else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }


</script>
