<div class="mt-4">
  <div>
    <a href="/me/stored/products">Products list</a>
    <h3>Deleted products</h3>
  </div>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name Product</th>
              <th scope="col">Video ID</th>
              <th scope="col" colspan="2">Deleted At</th>
          </tr>
      </thead>
      
      <tbody>
          {{#each phones}}
            <tr>
                <th scope="row">{{sum  @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore " data-id="{{this._id}}">Restore</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#deleteProductModal" data-id="{{this._id}}">Permanently Delete</a>
                </td>
            </tr>
            {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Empty trash bin.
                  <a href="/me/stored/products">Products list</a>
                </td>
              </tr>
          {{/each}}
      </tbody>
  </table>
</div>

{{!-- Confirm delete --}}
<div class="modal" id="deleteProductModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Permanently Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This action cannot redo. Are you sure you still want to delete this?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Permanently Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form method="POST" name="delete-product-form"></form>
<form method="POST" name="restore-product-form"></form>

<script>
    var productId;
    var deleteForm = document.forms['delete-product-form'];
    var restoreForm = document.forms['restore-product-form'];

    var deleteProductModal = document.getElementById('deleteProductModal')
    var btnDeleteProduct = document.getElementById("btn-delete-product");
    var restoreBtn = $('.btn-restore');

    // Adding id when click delete button
    deleteProductModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        productId = button.getAttribute('data-id')
    })

    // when confirm btn clicked
    btnDeleteProduct.onclick = function() {
        deleteForm.action = '/phones/' + productId + '/force?_method=DELETE';
        deleteForm.submit();
    }

    restoreBtn.click(function (e) {
      e.preventDefault();

      var productId = $(this).data('id');
      restoreForm.action = '/phones/' + productId + '/restore?_method=PATCH';
      restoreForm.submit();
    })

</script>
